## Hidden files

.*
!.git*


## Backup files

*~
\#*\#
*.swp
*.swo
*.bak


## Python just in time compilation cache for heuristic optimisation

__pycache__/
*.pyc

## Setuptools
dist/
build/
*.egg-info/

## Venv
venv/
.venv/
